################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/obj/Debug
/packages
/Web/bin
/Web/obj/Debug
